@use "../../scss/mixin.scss" as *;

.home {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;

  @include tablet {
    grid-template-columns: repeat(2, 1fr);
  }

  @include mobile {
    grid-template-columns: repeat(1, 1fr);
    gap: 1rem;
  }

  margin-bottom: 10rem;

  .item {
    &__title {
      font-weight: bold;
      margin-bottom: 1rem;
      font-size: 1.2rem;
    }

    &__content {
      display: inline-block;

      &__image {
        width: auto;
      }
    }

    &__desc {
      display: inline-block;
    }
  }
}
