@use "../../scss/mixin.scss" as *;

.logo {
  width: 100%;
  align-items: center;
  justify-content: center;

  .logo-content {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3rem;

    @include mobile {
      padding: 1rem 0rem;
    }

    &__image {
      width: 310px;
      height: 122px;
    }
  }

  .desc {
    text-align: center;
    width: 100%;
    background-color: #efefef;
    padding: 2rem 10rem;

    @include tablet {
      padding: 1rem 3rem;
    }

    @include mobile {
      padding: 1rem 1rem;
    }

    margin-bottom: 3rem;

    .title {
      font-weight: bold;
      margin-bottom: 1rem;
    }
  }
  img {
    width: 100%;
    height: 100%;
  }
}
