@use "./scss/mixin.scss" as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app {
  display: flex;

  .left-side {
    background-color: #191718;
  }

  .right-side {
    @include mobile {
      margin-top: 4rem;
    }
    width: 70%;
    flex: 1;

    .container {
      padding: 0 6rem;

      @include tablet {
        padding: 0 3rem;
      }

      @include mobile {
        padding: 0 1rem;
      }
    }

    @include mobile {
      padding: 0 0;
    }
  }
}
